<div class = "container">
    <h1>Manifest Management Software</h1>

    <form action="/login/register">
        <input class = "minibutton" type="submit" value = "Login/Register">
    </form>

    <h1>|| SCREENSHOTS & DESCRIPTION OF FEATURES ||</h1>
</div>